In [27]:

import pandas as pd
import requests
from writers import *
import pdfkit
import numpy as np
from PyPDF2 import PdfFileMerger

In [28]:

gostare_id = '1'
id_ghest = '1'
URL = 'http://api.daricbot.ir/jaraem_taakhir_dar_bahre_bardariV2?gostare_id='+gostare_id+'&'+'id_ghest'+'='+id_ghest+'&date='+handle_month(id_ghest)
data = requests.get(url = URL)
data = data.json()
del(gostare_id)
del(URL)

In [29]:

jadval_koli = data['jadval_koli']

jadval_koli['vazne_kole_khat'] = enToFarsiPandas(str(jadval_koli['vazne_kole_khat']))
jadval_koli['tarikh'] = enToFarsiPandas(str(jadval_koli['tarikh']))
jadval_koli['darsad_tahaghogh_yafte'] = enToFarsiPandas(str(jadval_koli['darsad_tahaghogh_yafte']))
jadval_koli['darsad_baghi_mande'] = enToFarsiPandas(str(jadval_koli['darsad_baghi_mande']))

In [30]:


sum_jadval = data['an_ghozi']
sum_jadval[1] = enToFarsiPandas(str(sum_jadval[1]))
sum_jadval[2] = enToFarsiPandas(str(sum_jadval[2]))
sum_jadval[3] = enToFarsiPandas(str(sum_jadval[3]))

In [31]:

data_jadval = data['jarime']
del(data)

data_jadval = pd.DataFrame(data_jadval)
del(data_jadval[6])

labels = ['نام گستره :','وزن گستره از کل :','درصد تحقق یافته :','درصد باقی مانده :','تاریخ بهره برداری برنامه ریزی شده :']

In [32]:
data_jadval.head()

             0          1           2      3  4  5
0  بخش خط لوله  1196000.0  1396-07-17  14.95  1  0

In [15]:
for i , j in data_jadval.iterrows():
    print(j)

0    بخش خط لوله
1      1.196e+06
2     1396-07-17
3          14.95
4              1
5              0
Name: 0, dtype: object

In [57]:

data_jadval[:][1] =  data_jadval[:][1].astype(str).apply(enToFarsiPandas)

#print( enToFarsiPandas(str(data_jadval[:][1])))
print(data_jadval[:][1])

0    1196000.0
Name: 1, dtype: float64